body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at top center, #2e2e2e 0%, #111111 100%);
    background-attachment: fixed;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2d2d2d;
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid #00a8ff;
}

nav {
    background-color: #111;
    padding: 15px;
    text-align: center;
}

nav ul {
   list-style-type: none;
    padding: 20px 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    display: inline-block;
    background-color: #2a2a2a;
    color: #00a8ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px; 
    border: 2px solid #333; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease; 
}


nav a:hover {
    background-color: #00a8ff; 
    color: #111; 
    border-color: #00a8ff;
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 168, 255, 0.4);
}


main {
    flex: 1; 
    max-width: 800px;
    margin: 40px auto; 
    padding: 30px;
    background-color: #2a2a2a;
    border-radius: 10px; 
    border: 1px solid #333; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    text-align: center;
    width: 90%;
    
    transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
}


main:hover {
    transform: translateY(-5px); 
    border-color: #00a8ff; 
    box-shadow: 0 10px 30px rgba(0, 168, 255, 0.15); 
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #888;
    margin-top: 50px;
}

h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 2.5rem; 
    text-transform: uppercase; 
    letter-spacing: 3px; 
    text-shadow: 0 0 15px rgba(0, 168, 255, 0.4); 
    margin-bottom: 10px;
}

h2 {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

p {
    font-size: 17px; 
    line-height: 1.8; 
    color: #cccccc; 
    text-align: left; 
    margin-bottom: 20px;
}

main img {
    display: block;
    margin: 30px auto; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.6); 
}

main a {
    color: #00a8ff; 
    text-decoration: none; 
    font-weight: 600; 
    transition: color 0.3s ease; 
}

main a:visited {
    color: #00a8ff; 
}

main a:hover {
    color: #ffffff; 
    text-decoration: underline; 
}

.texto-centrado {
    text-align: center;
}

main ul {
    display: inline-block; 
    text-align: left; 
    margin-top: 10px;
}

main li {
    margin-bottom: 12px; 
}
